<h1 class="p-3">My portfolio</h1>
<p class="lead text-muted">In this section I have published the apps that I created.</p>

<%= link_to 'Home', root_path, class: 'btn btn-primary my-2' %>
<%= link_to 'Contact', contact_path, class: 'btn btn-secondary my-2' %>