<main role="main" class="inner cover">
  <h1 class="cover-heading">About</h1>
  <div class="row">
    <div class="col-md-4">
    <%= image_tag 'https://pbs.twimg.com/profile_images/909492805747331074/jT3BYGKY_400x400.jpg', width: 300, alt: 'profile' %>
    </div>
    <div class="col-md-8">
      <p>I am a self taught web developer with html, haml, css, sass, and javascript in front end, and ruby on rails, mongodb, sql, postgresql in back end, and also AWS for cloud computing and devops.

I also specialize in SAP FI, and Ms Excel with 3+ yr of professional experience.

Additionally, I would love to work with people smarter than me so that we can interact, and learn from each other.</p>
  </div>
</main>